<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GrandBlazeStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GrandBlazeStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings/>
	<userSettings>
		<GrandBlazeStudio.Properties.Settings>
   <setting name="ResultBasePath" serializeAs="String">
    <value>e:\gb\result\</value>
   </setting>
   <setting name="UpdateCnt" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="HomePageURL" serializeAs="String">
    <value>http://www.grand-blaze.com/</value>
   </setting>
   <setting name="EventScriptDir" serializeAs="String">
    <value>E:\grb\data\script\</value>
   </setting>
   <setting name="GRBLocation" serializeAs="String">
    <value>120, 120</value>
   </setting>
   <setting name="GRBClientSize" serializeAs="String">
    <value>702, 537</value>
   </setting>
   <setting name="GRBWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="ResultBackupPath" serializeAs="String">
    <value>e:\gb\backup\</value>
   </setting>
   <setting name="BasePath" serializeAs="String">
    <value>e:\gb\</value>
   </setting>
   <setting name="PublicResultPath" serializeAs="String">
    <value>E:\grb\web\application\website\templates\result\</value>
   </setting>
   <setting name="PublicArchivePath" serializeAs="String">
    <value>E:\grb\web\application\static\tar\archive\</value>
   </setting>
   <setting name="PublicArchiveIndexPath" serializeAs="String">
    <value>E:\grb\web\application\website\templates\result\download\</value>
   </setting>
   <setting name="Seed" serializeAs="String">
    <value>16587</value>
   </setting>
   <setting name="SQLServerInstance" serializeAs="String">
    <value>.\SQLEXPRESS</value>
   </setting>
   <setting name="DataBasePathMDF" serializeAs="String">
    <value>E:\grb\data\tran\GrandBlazeData.mdf</value>
   </setting>
   <setting name="DataBaseBackupPath" serializeAs="String">
    <value>E:\grb\data\backup\</value>
   </setting>
   <setting name="EditorPath" serializeAs="String">
    <value>C:\Program Files\EmEditor\EmEditor.exe</value>
   </setting>
   <setting name="LhaplusPath" serializeAs="String">
    <value>C:\Program Files\CubeICE\cubeice.exe</value>
   </setting>
   <setting name="DataBasePathMaster" serializeAs="String">
    <value>E:\grb\data\master\GrandBlazeData.mdf</value>
   </setting>
   <setting name="UseProduction" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DataBasePathMDFTest" serializeAs="String">
    <value>E:\grb\data\test\GrandBlazeData.mdf</value>
   </setting>
   <setting name="DesktopPath" serializeAs="String">
    <value>C:\Users\foxbl_000\Desktop\</value>
   </setting>
  </GrandBlazeStudio.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<GrandBlazeStudio.Properties.Settings>
   <setting name="Characters" serializeAs="String">
    <value>status\</value>
   </setting>
   <setting name="Partys" serializeAs="String">
    <value>party\</value>
   </setting>
   <setting name="Privates" serializeAs="String">
    <value>private\</value>
   </setting>
  </GrandBlazeStudio.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
