<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GrandBlazeStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GrandBlazeStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <GrandBlazeStudio.Properties.Settings>
            <setting name="DatabasePath" serializeAs="String">
                <value>E:\trunk\dev\gb\data\gbdb.mdb</value>
            </setting>
            <setting name="ResultBasePath" serializeAs="String">
                <value>e:\gb\result\</value>
            </setting>
            <setting name="UpdateCnt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HomePageURL" serializeAs="String">
                <value>http://www.grand-blaze.com/</value>
            </setting>
            <setting name="EventScriptDir" serializeAs="String">
                <value>E:\trunk\dev\gb\data\script\</value>
            </setting>
            <setting name="GRBLocation" serializeAs="String">
                <value>120, 120</value>
            </setting>
            <setting name="GRBClientSize" serializeAs="String">
                <value>702, 537</value>
            </setting>
            <setting name="GRBWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ResultBackupPath" serializeAs="String">
                <value>e:\gb\backup\</value>
            </setting>
            <setting name="BasePath" serializeAs="String">
                <value>e:\gb\</value>
            </setting>
            <setting name="PublicResultPath" serializeAs="String">
                <value>E:\trunk\web\public_html\grb\htdocs\result\</value>
            </setting>
            <setting name="PublicArchivePath" serializeAs="String">
                <value>E:\trunk\web\public_html\grb\htdocs\result\download\archive\</value>
            </setting>
            <setting name="PublicArchiveIndexPath" serializeAs="String">
                <value>E:\trunk\web\public_html\grb\htdocs\result\download\</value>
            </setting>
            <setting name="SQLServerInstance" serializeAs="String">
                <value>.\SQL2008EXPRESS</value>
            </setting>
            <setting name="DataBasePathMDF" serializeAs="String">
                <value>E:\trunk\dev\gb\data\tran\GrandBlazeData.mdf</value>
            </setting>
            <setting name="DataBaseBackupPath" serializeAs="String">
                <value>E:\trunk\dev\gb\data\backup\</value>
            </setting>
            <setting name="EditorPath" serializeAs="String">
                <value>D:\Program Files\EmEditor\EmEditor.exe</value>
            </setting>
            <setting name="LhaplusPath" serializeAs="String">
                <value>D:\Program Files (x86)\Lhaplus\Lhaplus.exe</value>
            </setting>
            <setting name="DataBasePathMaster" serializeAs="String">
                <value>E:\trunk\dev\gb\data\master\GrandBlazeData.mdf</value>
            </setting>
        </GrandBlazeStudio.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GrandBlazeStudio.Properties.Settings>
            <setting name="Characters" serializeAs="String">
                <value>status\</value>
            </setting>
            <setting name="Partys" serializeAs="String">
                <value>party\</value>
            </setting>
            <setting name="Privates" serializeAs="String">
                <value>private\</value>
            </setting>
            <setting name="Companions" serializeAs="String">
                <value>companion\</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>16587</value>
            </setting>
        </GrandBlazeStudio.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
